[defaults]
allow_world_readable_tmpfiles = True
force_color = 1

[diff]
always = True

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[privilege_escalation]
become = True

[options]
allow_broken_conditionals = True
